<div class="sidebar">
  <a href="#" routerLink="/dash">
    <i class="fas fa-chart-line"></i> &nbsp;Dashboard</a>

  <a href="#" routerLink="/todos">
    <i class="fas fa-tablets"></i> &nbsp;Medicine</a>

  <a href="#" routerLink="/doc">
    <i class="fas fa-user-md"></i> &nbsp;Doctors</a>

  <a href="#" routerLink="/patient">
    <i class="fas fa-procedures"></i> &nbsp;Patient</a>

  <a href="#" routerLink="/emp">
    <i class="fas fa-user"></i> &nbsp;Employee</a>

  <a href="#" routerLink="/fin">
    <i class="fas fa-hand-holding-usd"></i> &nbsp;Finance</a>

  <a href="#" routerLink="/sup">
    <i class="fas fa-ambulance"></i> &nbsp;Suppliers</a>

  <a href="#" routerLink="/issue">
    <i class="fas fa-file-invoice-dollar"></i> &nbsp;Drug issue</a>

  <a href="#" routerLink="/order">
    <i class="fas fa-business-time"></i> &nbsp;Order Stock</a>
</div>
